<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Kolkata's Park</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
       <ion-menu-toggle>
        <ion-item routerLink="/places/tabs/discover" ><ion-icon name="search" slot="start"></ion-icon> Discover Places</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/bookings"><ion-icon name="card" slot="start"></ion-icon> My Bookings</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="logout()"><ion-icon name="exit" slot="start"></ion-icon>Logout</ion-item>
      </ion-menu-toggle>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
